body{
margin:0;
background:black;
color:white;
font-family:'Cormorant Garamond',serif;
}


.hero{
position:relative;
height:100vh;
overflow:hidden;
}


.hero-bg{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
}


.overlay{
position:absolute;
width:100%;
height:100%;

background:linear-gradient(
rgba(0,0,0,0.2),
rgba(0,0,0,0.75)
);

}


/* FOG EFFECT */

.fog{
position:absolute;
width:200%;
height:200%;

background:url("https://www.transparenttextures.com/patterns/foggy-birds.png");

opacity:.15;

animation:fogmove 60s linear infinite;

}

@keyframes fogmove{

0%{transform:translateX(0)}
100%{transform:translateX(-800px)}

}



/* CONTENT */

.hero-content{

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

text-align:center;

max-width:900px;

width:90%;

animation:fadein 2s ease;

}


@keyframes fadein{

0%{
opacity:0;
transform:translate(-50%,-40%);
}

100%{
opacity:1;
transform:translate(-50%,-50%);
}

}



/* PRESENT TEXT */

.present{

letter-spacing:8px;

font-size:13px;

color:#d4af37;

margin-bottom:120px;

}


/* SHIMMER EFFECT */

.shimmer{

background:linear-gradient(
90deg,
#b8962e,
#f5d76e,
#b8962e
);

background-size:200%;

-webkit-background-clip:text;

color:transparent;

animation:shine 6s infinite linear;

}

@keyframes shine{

0%{background-position:0%}
100%{background-position:200%}

}



/* SUBBRANDS */

.subbrands{

margin-top:250px;

}

.subbrands p{

font-size:24px;

font-weight:300;

margin:6px;

letter-spacing:1px;

}



/* FOUNDERS */

.founders{

font-size:16px;

margin-top:20px;

margin-bottom:50px;

opacity:.9;

}



/* COUNTDOWN */

.countdown{

display:flex;

justify-content:center;

gap:50px;

margin-bottom:30px;

}



.time-box{

padding:12px 18px;

border:1px solid rgba(212,175,55,.4);

border-radius:6px;

background:rgba(0,0,0,.25);

backdrop-filter:blur(3px);

}



.countdown span{

font-size:38px;

color:#d4af37;

display:block;

}



.countdown label{

font-size:12px;

letter-spacing:2px;

opacity:.85;

}



/* LOGO */

.logo{

width:110px;

margin:25px auto;

display:block;

}



/* TAGLINE */

.tagline{

font-style:italic;

font-size:18px;

max-width:650px;

margin:auto;

margin-bottom:30px;

opacity:.9;

}



/* FORM */

.form{

display:flex;
flex-direction:column;

align-items:center;

gap:12px;

}



.form input{

padding:12px;

width:260px;

border-radius:6px;

border:none;

}



.form button{

background:#d4af37;

border:none;

padding:12px 28px;

font-weight:500;

border-radius:6px;

cursor:pointer;

}



/* ENTRANCE ANIMATION */

.fade-up{

animation:slideup 2s ease;

}

@keyframes slideup{

0%{
opacity:0;
transform:translateY(40px);
}

100%{
opacity:1;
transform:translateY(0);
}

}



/* MOBILE */

@media(max-width:768px){

.subbrands p{
font-size: 8px;
}

.countdown span{
font-size:28px;
}

.present{
margin-bottom:60px;
}

.subbrands{
margin-top:100px;
}

}